<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DashBoard</title>
</head>

<body>
    <h2>Users</h2>

    <% if(users.length===0){ %>
        <p>User not found</p>
        <% }else{ %>
            <ul>
                <% users.forEach(user=> { %>
                    <%= user.username %> _ <%= user.email %>
                            <%}); %>
            </ul>
            <% } %>


</body>

</html>